MY_UID=1000
MY_GID=1000
MY_USER_NAME=uma
MY_TZ=Asia/Tokyo
PORT_SERVER=19132
PORT_SERVER_PROTO=udp
PORT_SSH=22
SERVER_NAME=mbs
WORLD_NAME=
DIR_ROOT=/home/uma/mbs
DIR_REPO=/home/uma/mbs/minecraft-server-setup
DIR_BACKUP=/home/uma/mbs/backup
DIR_BACKUP_CORE=/home/uma/mbs/backup/core
DIR_BACKUP_WORLDS=/home/uma/mbs/backup/worlds
DIR_SERVER=/home/uma/mbs/server
AWS_PROFILE=
S3_BACKUP_URI=
