MY_UID=1000
MY_GID=1000
MY_USER_NAME=uma
MY_TZ=Asia/Tokyo
PORT_SERVER=25565
PORT_SERVER_PROTO=tcp
PORT_SSH=22
SERVER_NAME=mjs
SERVER_MOTD=Minecraft Java Server
WORLD_NAME=world
DIR_ROOT=/home/uma/mc/mjs
DIR_REPO=/home/uma/mc/server-setup
DIR_BACKUP=/home/uma/mc/mjs/backup
DIR_BACKUP_CORE=/home/uma/mc/mjs/backup/core
DIR_BACKUP_WORLDS=/home/uma/mc/mjs/backup/worlds
DIR_SERVER=/home/uma/mc/mjs/server
BACKUP_REMOTE_SYNC_ENABLE=false
BACKUP_REMOTE_SYNC_TARGET=
BACKUP_REMOTE_SYNC_RSH=ssh
AWS_PROFILE=
S3_BACKUP_URI=
