[Unit]
Description=Minecraft Bedrock Server Backup to Cloud
After=mbs-backup-to-local.service
Wants=mbs-backup-to-local.service

[Service]
Type=oneshot
ExecStart=bash mc/server-setup/bin/backup-to-cloud.sh

[Install]
WantedBy=multi-user.target
